[Unit]
Description=Container Odoo
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker start odoodb
ExecStartPre=-/usr/bin/docker attach odoodb
ExecStartPre=-/usr/bin/docker start odoo
ExecStart=/usr/bin/docker attach odoo
ExecStop=/usr/bin/docker stop odoo ; /usr/bin/docker stop odoodb

[Install]
WantedBy=multi-user.target